@using WeatherApp.Shared.Models
@using WeatherApp.Shared.OpenWeatherAPIParser;

<h3>ForecastHourly</h3>

<div>
	@if(Forecast != null)
	{
		@(Forecast.Dt)
		@(Forecast.Sunrise)
		@(Forecast.Sunset)
		@(Forecast.Temp)
		@(Forecast.FeelsLike)
		@(Forecast.Pressure)
		@(Forecast.Humidity)
		@(Forecast.DewPoint)
		@(Forecast.Uvi)
		@(Forecast.Clouds)
		@(Forecast.Visibility)
		@(Forecast.WindSpeed)
		@(Forecast.WindDeg)
		@(Forecast.WindGust)
		@(Forecast.Weather)
		@(Forecast.Rain)
		@(Forecast.Snow)
		@(Forecast.Pop)
	}
	
</div>

@code {
	[Parameter]
	public ForecastCurrent? Forecast { get; set; }
}
