@using WeatherApp.Shared.Models;
@using WeatherApp.Shared.OpenWeatherAPIParser;

<div class="d-flex flex-column">

	<h3>ForecastDailyComponent</h3>
	<div>
		@if (Forecast != null)
		{
			@foreach (var day in Forecast)
			{
				<div class="d-flex flex-column border border-2 border-primary rounded-2">
					@(DateTimeOffset.FromUnixTimeSeconds(day.Dt).DateTime)
					@if (day.Sunrise != null && day.Sunset != null)
					{
						<div>
							Sunrise: @(day.Sunrise != null ? DateTimeOffset.FromUnixTimeSeconds(day.Sunrise.GetValueOrDefault()).DateTime : null)
							Sunset: @(DateTimeOffset.FromUnixTimeSeconds(day.Sunset.GetValueOrDefault()).DateTime)
						</div>
					}

					<div>
						<div>Tempeerature:</div>
						<table>
							<tr>
								<td>Morning: </td>
								<td>@(day.Temp.Morn)°F</td>

							</tr>
							<tr>
								<td>Day: </td>
								<td>@(day.Temp.Day)°F</td>
							</tr>
							<tr>
								<td>Evening: </td>
								<td>@(day.Temp.Eve)°F</td>
							</tr>
							<tr>
								<td>Night: </td>
								<td>@(day.Temp.Night)°F</td>
							</tr>
							<tr>
								<td>Min: </td>
								<td>@(day.Temp.Min)°F</td>
							</tr>
							<tr>
								<td>Max: </td>
								<td>@(day.Temp.Max)°F</td>
							</tr>
						</table>
						<div></div>
						Feels Like: @(day.FeelsLike)°F
						Humidity: @(day.Humidity)%

					</div>
					<div>
						Pressure: @(day.Pressure)
						DewPoint: @(day.DewPoint)
						Uvi: @(day.Uvi)
						Clouds: @(day.Clouds)%
					</div>
					<div>
						Wind Speed: @(day.WindSpeed) mph
						Wind Direction: @(day.WindDeg) °
						@if (day.WindGust != null)
						{
							<div>
								WindGust: @(day.WindGust)mph
							</div>
						}
					</div>
					<div>
						<div>
							Weather Conditions: @(day.Weather.First().Main)
						</div>
						<div>
							Weatheer Description: @(day.Weather.First().Description)
						</div>
						<div>
							<div>Probability of Precipitation: @(day.Pop)</div>
							@if (day.Pop > 0)
							{
								<div>
									@if (day.Rain != null)
									{
										<div>@(day.Rain) mm/h</div>
									}
									@if (day.Snow != null)
									{
										<div>@(day.Snow) mm/h</div>
									}
								</div>
							}
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>

@code {
	[Parameter]
	public ForecastDaily[]? Forecast { get; set; }
}

